.footercall {
  color: rgb(117, 117, 125);
  margin-left: 40px;
  margin-top: 15px;
}

.footerFaq {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 40px;
  color: rgb(117, 117, 125);
}

.footerFaq > p {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 20px;
}

.footercook {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 40px;
  color: rgb(117, 117, 125);
}
.footercook > p {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 40px;
}

.footereng {
  border: 1px solid grey;
  background-color: white;
  height: 40px;
  width: 120px;
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
}
.footerglobe {
  height: 90%;
  width: 35%;
}
.footereng > h4 {
  color: rgb(117, 117, 125);
  margin-top: 7px;
}
.footerlast {
  background-color: rgb(243, 243, 243);
  height: 200px;
  margin-top: 120px;
}

.footer {
  height: 250px;
  background-color: #f3f3f3;
  width: 100%;
  bottom: 0;
  opacity: 0.8;
  margin-top: 13%;
  padding-top: 20px;
}

.footer p {
  color: #6b6d6b;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}
.footer p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer .links {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-left: 20%;
  margin-right: 20%;
}

.footer select {
  position: absolute;
  left: 23%;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .footer p {
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer .links {
    margin-left: 5%;
    margin-right: 5%;
  }
  .footer select {
    left: 5%;
  }
}
